# One of REMOTE_INSTALL_URL or REMOTE_INSTALL_HOST/PORT is required.
INSTALL_METHOD=remote
REMOTE_INSTALL_URL=debug.dify.ai:5003
# REMOTE_INSTALL_HOST=debug-plugin.dify.dev
# REMOTE_INSTALL_PORT=5003
REMOTE_INSTALL_KEY=********-****-****-****-************
